<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="https://www.pngfind.com/pngs/m/136-1363736_express-js-icon-png-transparent-png.png" type="image/x-icon">
</head>
<body>
    <div class="hello"><h1>Hello World</h1></div>
</body>
</html>